body{
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('../font/StitchWarriordemo.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cabecalho {
    font-family: 'MinhaFonte', sans-serif;
    text-align: center;
    background-color:#0E0027;
    color: #8b008b;
    padding: 10px;
    margin-bottom: 60px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container .produtos {
    color:#6528D3;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

.container .filtros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container .categorias-cartas, .container .preco-cartas {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container label {
    letter-spacing: 2px;
    font-weight: 500;
    color: #6528D3;
}

.container .categorias-cartas select, .container .preco-cartas input {
    padding: 16px 13px;
    border-radius: 2px;
    border: 2px solid #6528D3;
    background-color: #f2eefa;
    color: #130234;
    height: 52px;
}

.container .categorias-cartas select:focus, .container .preco-cartas input:focus, .container .categorias-cartas select:focus-visible, .container .preco-cartas input:focus-visible {
    outline: none;
}

.container .categoria {
    appearance: none;
}

.container .filtros .btn-filtrar{
    border: none;
    background-color: #6528D3;
    color: #ededed;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    width: 177px;
    height: 52px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}

.container .filtros .btn-filtrar:hover{
    background-color: #33008f;
}

.container .cartas {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.container .cartas .carta {
    max-width: 365px;
    background-color: #ededed;
    color: #0e0027;
    border-radius: 20px; 
    box-shadow: 0 6px 12px rgb()
}

.container .carta img {
    width: 100%;
    padding: 20px;
}

.container .carta .informacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container .carta .informacoes .nome-personagem {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

.container .carta .informacoes .categoria {
    color: #7e7e7e;
    font-weight: 700;
}

.container .carta .informacoes .preco {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #4D8E5C;
}

.container .carta .informacoes .btn-comprar {
    color: #ededed;
    background-color: #6528D3;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    
}

.container .carta .informacoes .btn-comprar:hover {
    background-color: #33008f;
}

.rodape {
    background-color: #6528D3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px;
    color: #ededed;
}

